
<div class="opaquebackground"></div>   

<nav class="text-center"><h1>EAT-DEM-BURGERS!</h1>
</nav>

<div class="container">
    <div class="row 12">
        <div class="col left">
            <h2>Burgers to Eat!</h2>

            <ul>
            {{#each burgers}}
                {{#unless devoured}}
                {{> burger-block devoured=true}}
                {{/unless}}
            {{/each}}
            </ul>
        </div>
        <div class="col center">
            <img src="assets/img/burger.png" alt="theburger" >
            <h2>Add a Burger</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="ca"><b>Burger Name:</b></label><br>
                    <input type="text" id="ca" name="burger_name">
                </div>
                <button type="submit" class="btn btn-success" >Add Burger</button>
            </form>
        </div>
    <div class="col right">
        <h2>Devoured Burgers!</h2>

        <ul class="eatten">
        {{#each burgers}}
            {{#if devoured}}
            {{> burger-block devoured=false}}
            {{/if}}
        {{/each}}
        </ul>
    </div>

