div {
    padding: 1rem;
    text-align: center;
}
.eatten {
    text-decoration: line-through;
}
ul {
    opacity: 0.75;
}
li {
    margin-bottom: .5rem;
}       
 .opaquebackground{
        background: url("../img/burger-pattern-background.jpg") ;
        opacity: 0.30;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
      }